header{
    .head-top{
        padding: 16px 0;
        background-color: $color;
        .head-inner{
            display: flex;
            justify-content: center;
            align-items: center;   
                p{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color:#fff;
                    font-family: "in-regular";
                    margin-left: 16px;
                    margin-bottom: 0;
                    text-align: center;
                }
                .button{
                    border:none;
                    background-color: #fff;
                    padding: 8px 12px;
                    border-radius: 8px;
                    margin-left: 16px;
                    color: $color;
                }
             
        }
    }
    .head-bottom{
        padding: 20px 0;
        background-color:#fff;
        nav{
            display: flex;
            justify-content: space-between;
            .search{
                position: relative;
                input{
                    border:none;
                    background-color: #F4F5F7;
                    padding: 10px;
                    width: 512px;
                    height: 40px;
                    border-radius: 8px;
                   
                }
                .btn-search{
                    border: none;
                    background:#39B54A;
                    padding: 8px;
                    border-radius: 0px 8px 8px 0px;
                    position: absolute;
                    right:0;
                }
            }
            .list-icon{
                display: flex;
                align-items: center;
               
                li{
                   a{
                    display: flex;
                    width: 40px;
                    height: 40px;
                    align-items: center;
                    justify-content: center;
                    margin-right: 12px;
                    background-color: #F4F5F7;
                    padding: 8px;
                    border-radius: 20px;
                   
                   }
                }
            }
        }
    }
}