body{
    background-color:  #EDEFF2;
}
.healthy{
    padding: 24px 0;
    .healthy-lifee{
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            border:1px solid #EDEFF2;
            li{
                border-left:1px solid #EDEFF2;
                a{
                    padding: 16px 50px;
                    display: block;
                    color:#050F21;
                }
                img{
                    margin-right: 8px;
                }
            }
        }
        .title-right{
            display: flex;
            justify-content: flex-end;
        }
    }
  
}
.floverful-block{
    padding: 24px 0 50px 0;
    background-color: #EDEFF2;
    .flavorful{
        .image-part{
            position: relative;
            .image-top{
                position: absolute;
                bottom: 24px;
                left:56px;
                ul{
                    display: flex;
                    background: #FFFFFF;
                    opacity: 0.5;
                    border-radius: 8px;
                    padding: 8px 16px;
                    li{
                        margin-left: 32px;
                        font-size: 12px;
                        color:#050F21;
                        z-index: 999;
                        cursor: pointer;
                        &:hover{
                            background:red;
                        }
                    }
                }
            }
        }
    }
    .all{
        background-color: #fff;
        padding:32px;
        border:1px solid #EDEFF2;
        box-sizing: border-box;
        border-radius: 6px;
        display: flex;
        margin-bottom:16px;
        height: 173px;
        .aloe{
            p{
                margin-right: 24px;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                font-family: "in-regular";
            }
            button{
                border: none;
                background: #39B54A;
                border-radius: 6px;
                padding: 8px 12px;
                color:#fff;
            }
        }
    }
    .avent-img{
        position: relative;
        img{
            border-radius:8px;
           
        }
        &::after{
            content: "";
            position: absolute;
            top:0;
            left: 0;
            background: #000000;
            width: 100%;
            height: 100%;
            opacity: 0.25;
            border-radius:8px ;
        }
      
    }
}


.brend-block{
    padding: 40px 0;

    .brend-text{
        h4{
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            font-family: "in-medium";
        }
    }
    .list-menu{
        display: flex;
        ul{
            display:flex;
            background-color: #FFFFFF;
            border:1px solid #EDEFF2;
            padding: 4px;
            border-radius: 8px;
            margin-right: 16px;
            li{
                padding: 4px 12px;
                a{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    font-family: "in-regular";
                    color:#8A94A6;
                    &:hover{
                        color:#050F21;
                    }
                }
               
                &:hover{
                    background-color: #EDEFF2;
                    border-radius: 4px;
                    color:#050F21;
                }   
                
            }
          
    
        }
        
         .more{
            padding:8px 16px;
            font-weight: 400;
            font-size: 12px;
            font-family: "in-regular";
            line-height: 16px;
            background: #FFFFFF;
            border: 1px solid #EDEFF2;
            border-radius: 6px;
            color: #050F21;
            display: flex;
            align-items: center;
        }
    }
}
.brend-carousel{
    border: 1px solid #EDEFF2;
    border-radius: 8px;
    .owl-stage-outer{
        border-radius: 8px;
        margin-top: 16px;
    }
  .brend-img{
      width: 100%;
      height: 80px;
      padding: 25px;
      background-color: #fff;
      border-bottom: 1px solid #EDEFF2;
      border-right: 1px solid #EDEFF2;
  }
  .owl-nav{
    right: 0;
    position: absolute;
    top:-44px;
    button{
        width: 40px;
        height: 40px;
        background: #FFFFFF !important;
        border: 1px solid #EDEFF2 !important;
        box-sizing: border-box;
        border-radius: 100%;
    }

    .owl-next{
        margin-left: 10px;
    }
}
}




.healthy-life-block{
    padding: 72px 0;
    background-image: url("../image/yawilhisse.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
   .title-left{
       h3{
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        font-family: "in-medium";
       }
   }
    .title-right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 16px;
        a{
            padding:8px 16px;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            background: #FFFFFF;
            border: 1px solid #EDEFF2;
            border-radius: 6px;
            color: #050F21;
            margin-right: 16px;
        }
    }
    
    .natural{
        background-color: #fff;
        padding: 24px;
        border:1px solid #EDEFF2;
        border-radius:8px;
       
        .image-natural{
            position: relative;
            .natural-btn{
                position: absolute;
                top:0;
                left:0;
                
                
                .green{
                    background-color:#39B54A;
                    padding: 4px 8px;
                    border-radius:6px;
                    color:#fff;
                    display: block;
                    margin-bottom: 12px;
                }
                .red{
                    background: #F03D3D;
                    border-radius: 6px;
                    padding: 4px;
                    width: 46px;
                    color:#fff;
                    text-align: center;
                    display: block;
                }
    
            }
        }
        .natural-bottom{
            margin-top: 16px;
            .micafungin{
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                span{
                    background-color: #F03D3D;
                    display: block;
                    padding: 4px 8px;
                    color:#fff;
                    border-radius: 6px;
                    text-align: center;
                    margin-right: 8px;
                }
                h5{
                    margin-bottom: 0;
                    margin-right: 8px;
                }
                del{
                    color:#B0B7C3;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                                   
                }
            }
            h4{
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color:#39B54A;
                font-family: "in-medium";
            }
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #283A5B;
                font-family: "in-regular";
                margin-bottom: 16px;
                display: -webkit-inline-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                height: 40px;
            }

            .btn-block{
                display: flex;
                button{
                    border:none;
                    background-color: #39B54A;
                    color:#fff;
                    padding: 4px 58px;
                    border-radius:8px;
                    margin-right: 7px;
                    height: 32px;
                    
                }
                .btn-img{
                    background: #F0FAF2;
                    border-radius: 6px;
                    padding: 8px;
                    background-color: #F0FAF2;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .owl-carousel{
        .owl-nav{
            right: 0;
            position: absolute;
            top:-54px;
            button{
                width: 40px;
                height: 40px;
                background: #FFFFFF !important;
                border: 1px solid #EDEFF2 !important;
                box-sizing: border-box;
                border-radius: 100%;
            }

            .owl-next{
                margin-left: 10px;
            }
        }
    }
}


.healthy-beautiful,.healthy-family,.story-block{
    padding: 80px 0;
    .left{
        h3{
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            font-family: "in-medium";
            margin-bottom: 16px;
        }
    }
    .right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 16px;
        a{
            padding:8px 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            background: #FFFFFF;
            border: 1px solid #EDEFF2;
            box-sizing: border-box;
            border-radius: 6px;
            color:#000;
            margin-right: 16px;
        }
    }
    .healthy-carousel{
        .owl-nav{
            position: absolute;
            top:-54px;
            right: 0;
            margin-bottom: 16px;
           
            .owl-prev,.owl-next{
                width: 40px;
                height: 40px;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                background-color: #fff;
                border-radius: 100%;
                margin-left: 10px;
                
            }
          
        }
      
    
     }
  
}


// ayirdigim hisse digerlerindede eynisi olsun deye etmisem

.seosanal{
    padding: 24px;
    background-color: #fff;
    border:1px solid #EDEFF2;
    border-radius: 8px;
    .seosanal-img{
        position: relative;
        .seosanal-btn{
            position: absolute;
            top:-3px;
            left: 0;
            display: block;
            span{
                background: #87C2C4;
                padding: 4px 8px;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color:#fff;
                border-radius: 6px;
            }
            .best{
                background-color: #FFBB38;
            }
            :nth-child(2){
                background: #F03D3D;
                border-radius: 6px;
                padding: 4px;
                width: 46px;
                color:#fff;
                text-align: center;
                display: block;
                margin-top: 10px;
            }
            .new{
                background-color: #4BA7FE;
            }
            .sale{
                background-color: #F03D3D;
            }
        }
    }

    .seosanal-text{
        .text{
            margin-top: 16px;
            display: flex;
            align-items:center;
            margin-bottom: 12px;
            span{
                background-color: #F03D3D;
                color:#fff;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                font-family: "in-regular";
                border-radius: 8px;
                padding: 4px 8px;
                margin-right:8px;
            }
            del{
                color:#B0B7C3;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
            }
            h4{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                font-family: "in-medium";
                margin-bottom: 0;
                margin-right: 8px;
            }
        }
        h6{
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color:#39B54A;
            font-family: "in-medium";
        }
        p{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #283A5B;
            font-family: "in-regular";
            margin-bottom: 16px;
            // display: -webkit-inline-box;
            // -webkit-box-orient: vertical;
            // -webkit-line-clamp: 2;
            // overflow: hidden;
            height: 40px;
        }
        .seosanal-btn{
            display: flex;
            button{
                border:none;
                background-color: #39B54A;
                color:#fff;
                padding: 4px 58px;
                border-radius:8px;
                margin-right: 7px;
                height: 32px;
                
            }
            .btn-img{
                background: #F0FAF2;
                border-radius: 6px;
                padding: 8px;
                background-color: #F0FAF2;
                display: flex;
                align-items: center;
            }
        }
    }
}

// ayirdigim hisse digerlerindede eynisi olsun deye etmisem
.healthy-family{
    background-image: url("../image/sagaile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.story-block{
   .story-img{
    border:2px solid green;
    border-radius: 6px;
    padding: 5px;
   }
   .owl-carousel .owl-nav {
    display: block !important;
    right: 0;
    
    position: absolute;
    top:-54px;
        button{
            width: 40px;
            height: 40px;
            background: #FFFFFF !important;
            border: 1px solid #EDEFF2 !important;
            box-sizing: border-box;
            border-radius: 100%;
        }

        .owl-next{
            margin-left: 10px;
        }
    
}
}


.reliability-part{
    padding: 40px 0 80px 0;
    .reliab-text{
        margin-bottom: 16px;
        h3{
            text-align: center;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            font-family: "in-medium";
        }
    }
    .reliab-box{
        border: 1px solid #EDEFF2;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: #fff;
        padding: 25px;
        height: 100%;
        transition: ease-in-out 0.5s;
        &:hover{
            transform: translateY(-5px);
            border-top:5px solid green;
        }
        .reliab-img{
           display: flex;
           align-items: center;
           justify-content: center;
           margin-bottom: 25px;
        }
        h4{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            font-family: "in-medium";
            text-align: center;
            margin-bottom: 8px;
        }
        p{
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #8A94A6;
            font-family: "in-regular";
        }
    }
}
.blog-block{
    .blog-text{
        display: flex;
        align-items: center;
        h4{
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            font-family: "in-medium";
            margin-bottom: 0;
            margin-left: 10px;
        }
    }
    .blog-link{
        display: flex;
        justify-content: flex-end;
        a{
            background-color: #fff;
            padding: 8px 16px;
            border:1px solid #EDEFF2;
            color: #050F21;
            border-radius: 8px;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            font-family: "in-regular";
            margin-right: 16px;
        }
    }
    .blog-carousel{
        margin-top: 16px;
        .blog-img{
            .img-box{
                position: relative;
                
                img{
                    margin-bottom: 16px; 
                    border-radius: 8px;
                   
                }
                &::after{
                    content: "";
                    position: absolute;
                    visibility: hidden;
                    top:0;
                    left: 0;
                    background: #000000;
                    opacity: 0.5;
                    width: 100%;
                    height:100%;
                    border-radius: 8px;
                    
      
                }
                &:hover::after{
                   visibility: visible;
                }
            }
            
          
        }
        .owl-nav{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            top:-53px;
            button{
                width: 40px;
                height: 40px;
                background: #FFFFFF !important;
                border: 1px solid #EDEFF2 !important;
                box-sizing: border-box;
                border-radius: 100%;
            }
        
            .owl-next{
                margin-left: 10px;
            }
        }
    }
}


.healthy-beautiful{
    padding-top:39px;
}